7 Sampling variation copy.docx
7-sampling-variation-slides-rev.pdf
7-sampling-variation.pdf
8_SampVar_ConvHeartsPOST.xlsx
oaks-weevil-example.nb.html
AICbags.png
AICcolors.png
cdf.png
chisqCDF with line.png
chisqCDF.png
ex_chisq.png
oaks-weevil-example.pdf
pdf.png
simcdf.png
simpdf.png
*.nb.html
